html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Titillium Web', sans-serif;
}

.text{
  color: #eaeaea;
  font-size: 40px;
  margin-left: 100px;
  margin-top: 200px;
}

/* designing the navbar */

.navbar{
  align-items: flex-start;
}
.nav-link{
  color: #eaeaea;
  font-size: 14px;
  margin: 10px;
}

/* logo design */
.navbar-brand{
  color: #eaeaea;
  font-size: 40px;
  font-weight: bold;
  
}

.navbar-brand:hover{
  color: #eaeaea;
}

.side_menu {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 30;
  margin-right: 30;
  
}

.menu_items{
  width: 90%;
  max-width: 300px;
  position: fixed;
  bottom: 0;
  right: 5%;
  transform: translate(0%,-20%);
  background-color:rgba(12, 22, 30, 0.9);
  padding-left: 10;
  
}

/* designing the herosection */
.hero{
  background: url(../images/hero.jpg) no-repeat;
  height: 100%;
  width: 100%;  
  padding-top: 10px;
  background-size: cover;
  
}

.hero_layer{
  height: 100%;
  width: 100%;  
  background-image: linear-gradient(to right, #00F2FF, #7100B7 100%);
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
}

/* designing the text of the hero section */
.hero_text{
  font-size: 200px;
  color: #eaeaea;
  margin-top: 100px;
}


/* css for the particle effect */
#particles-js{
  width: 45%;
  height: 40%;
  transform: translate(0%,-100%);
}

/* blinking text styling */
.typed_text{
  font-size: 50px; 
  color: #eaeaea;
  transform: translate(0%,-320%);
}

.blink {
  animation: blink 0.5s infinite;
}
@keyframes blink{
  to { opacity: .0; }
}
.flex {
  display: flex;
  justify-content: center;
}

/* nav link under line effect */
.underline {
  padding: 15px 20px;
  position: relative;
}
.underline:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.underline:hover:after { 
  width: 100%; 
  height: 8%;
  left: 0; 
}

.underline:hover{
  color: #eaeaea;
}

/* section 2 background property */
.section-2{
  background: url(../images/section_2.jpg);
  height: 100%;
  width: 100%;  
  background-size: cover;
}

/* button-1 design */
.button_1{
  background-color: #7100B7;
  color: #eaeaea;
  margin-left: 9px;
  margin-top: 320px;
  border-radius: 0;
  width: 180px;
  height: 50px;
}

.button_1:hover{
  background-color: red;
  color: #eaeaea;
}

/* responsive media query */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* designing the text of the hero section */
  .hero_text{
    font-size: 100px;
    color: #eaeaea;
    margin-top: 100px;
  }

  /* css for the particle effect */
  #particles-js{
    width: 45%;
    height: 30%;
    transform: translate(0%,-100%);
  }

  /* blinking text styling */
  .typed_text{
    font-size: 30px; 
    color: #eaeaea;
    transform: translate(0%,-320%);
    
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {}

@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}